<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Second Hand Electronics</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    {{#if error}}
    <div>
        <div class="errorContainer">
            <p>{{error}}</p>
        </div>
    </div>
    {{/if}}
    <div id="container">

        <nav>
            <ul>
                <!--For all users-->
                <li><a href="/">Home</a></li>
                <li><a href="/catalog">Catalog</a></li>
                {{#if isAuthenticated}}
                <li><a href="/create">Create Offer</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/logout">Logout</a></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {{/if}}
            </ul>

        </nav>

        <section id="detailsPage">
            <div id="detailsInfo">
                <h1>Name: {{product.name}}</h1>
                <div class="info"><img src="{{product.image}}"></div>

                <div class="info">
                    <h3>Type: {{product.type}}</h3>
                    <h3>Year of Production: {{product.production}}</h3>
                    <h3>Years of Exploitation: {{product.exploitation}}</h3>
                    <h3>Damages: {{product.damages}}</h3>
                    <h3>Description: {{product.description}}</h3>
                    <h2>Price: ${{product.price}}</h2>
                </div>
                {{#if isAuthenticated}}
                <!--If there is user logged in-->
                <div class="buttons">
                    {{#if isOwner}}
                    <a href="/edit/{{product._id}}" class="edit-btn">Edit</a>
                    <a href="/delete/{{product._id}}" class="delete-btn">Delete</a>
                    {{else}}
                    {{#if isBought}}
                    <p><span class="buy">Thank You For Your Purchase</span></p>
                    {{else}}
                    <a href="/buy/{{product._id}}" class="buy-btn">Buy</a>
                    {{/if}}
                    {{/if}}
                </div>
                {{/if}}
            </div>
        </section>

        <footer>@SoftUni - JS Back-End - Second Hand Electronics 2023</footer>
    </div>

</body>

</html>