<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Second Hand Electronics</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    {{#if error}}
    <div>
        <div class="errorContainer">
            <p>{{error}}</p>
        </div>
    </div>
    {{/if}}
    <div id="container">

        <nav>
            <ul>
                <!--For all users-->
                <li><a href="/">Home</a></li>
                <li><a href="/catalog">Catalog</a></li>
                {{#if isAuthenticated}}
                <li><a href="/create">Create Offer</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/logout">Logout</a></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {{/if}}
            </ul>

        </nav>

        <section class="search">
            <h1>Search</h1>

            <form class="search-form" method="post">
                <input type="text" class="search-name" name="name" placeholder="Search Name...">
                <input type="text" class="search-type" name="type" placeholder="Search Type...">
                <button type="submit" class="btn-search">Search</button>
            </form>

            <!--If there are matches after search-->
            {{#each products}}
            <div class="search-result">
                <div class="search-list">
                    <a href="/details/{{_id}}" class="added-electronics-in-market">
                        <img src="{{image}}" class="picture-added-electronics">
                        <h3>{{name}}</h3>
                        <span>Price: ${{price}}</span>
                    </a>
                </div>
            </div>
            {{else}}
            <div class="no-match">
                <p>No match was found!</p>
            </div>
            {{/each}}

        </section>

        <footer>@SoftUni - JS Back-End - Second Hand Electronics 2023</footer>
    </div>

</body>

</html>